{% extends 'base.html' %}
    {% block content %}
        {% load static %}


    <section class="hero-wrap hero-wrap-2" style="background-image: url('/static/images/bg_2.jpg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Галерия</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="/">Главная <i class="ion-ios-arrow-forward"></i></a></span> <span>Галерия</span></p>
          </div>
        </div>
      </div>
    </section>
		
			<section class="ftco-gallery">
    	<div class="container-wrap">
    		<div class="row no-gutters">
				{% for g in gallery %}
					<div class="col-md-3 ftco-animate">
						<a href="/media/{{ g.logo }}" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/media/{{ g.logo }}">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
				{% endfor %}
        </div>
    	</div>
    </section>
{% endblock %}