{% extends 'base.html' %}
    {% block content %}
        {% load static %}

    <section class="hero-wrap hero-wrap-2" style="background-image: url('/static/images/bg_2.jpg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Государственные закупки</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="/">Главная <i class="ion-ios-arrow-forward"></i></a></span> <span>Гос.закупки </span></p>
          </div>
        </div>
      </div>
    </section>
    			<div class="container">
                    <div class="row mt-5 mb-5">
                    {% for g in gos %}
                    <div class="mb-3 mt-2  col-md-12 " style="border:2px solid red ; border-radius:5px">
                    {{ g.pub_date }} <br>
                    <a href="/media/{{ g.pdf }}">{{ g.title }}</a>
                        </div>
                    {% endfor %}
                    </div>
                </div>


{% endblock %}