{% extends 'basemain.html' %}
    {% block content %}
        {% load static %}
{% csrf_token %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
<!--      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">-->
<!--        <h1 class="h2" style="color:#5d50c6; font-weight: 600;">Ученики</h1>-->
<!--        <form method="get" action="/main/student" class=" d-flex " style="justify-content:end; width:100%">-->



<!--          <div style="margin-left:40px">-->
<!--          <label style="    color: #fda638;font-weight: 600;">Класс</label>-->
<!--          <select name="stage"  class="js-changes js-stage" style="padding: 3px 22px;color:#5d50c6;border:1px solid #5d50c6;">-->
<!--            <option value="0">Все</option>-->
<!--            {% for st in students %}-->
<!--        {% for les in lesson_times %}-->
<!--        {% if les.lesson_id.sinf.id == st.sinf.id %}-->

<!--            <option  value="{{ st }}" {% if stage == st %} selected {% endif %}> {{ st.sinf }}</option>-->
<!--            {% endif %}-->
<!--            {% endfor %}-->
<!--              {% endfor %}-->

<!--          </select>-->
<!--          </div>-->



<!--          <div style="margin-left:40px">-->
<!--          <label  style="    color: #fda638;font-weight: 600;">Статус :</label>-->
<!--          <select name="status" class="js-changes " style="    padding: 3px 22px;color:#5d50c6;border:1px solid #5d50c6;">-->
<!--            <option value="-1">Все</option>-->
<!--            <option value="0" {% if status == 0 %} selected {% endif %}>В школе</option>-->
<!--            <option value="1" {% if status == 1 %} selected {% endif %}>Дома</option>-->
<!--          </select>-->
<!--          </div>-->
<!--        </form>-->
<!--        </div>-->
<!--&lt;!&ndash;        <div class="btn-toolbar mb-2 mb-md-0">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="btn-group me-2">&ndash;&gt;-->
<!--&lt;!&ndash;            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>&ndash;&gt;-->
<!--&lt;!&ndash;            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">&ndash;&gt;-->
<!--&lt;!&ndash;            <span data-feather="calendar"></span>&ndash;&gt;-->
<!--&lt;!&ndash;            This week&ndash;&gt;-->
<!--&lt;!&ndash;          </button>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--      </div>-->


<!--     <tr>
      <th scope="row">1</th>
      <td>
        <div class="input-group mb-3">
              <input type="text" class="form-control js-input" name="title" placeholder="" aria-label="" aria-describedby="basic-addon1" value="">
        </div>
      </td>
      <td>
        <div class="input-group mb-3">
              <select class="form-select" aria-label="Default select example">
                <option selected="">Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
        </div>
      </td>
      <td>
        <div class="input-group mb-3">
              <input type="text" class="form-control js-input" name="title" placeholder="" aria-label="" aria-describedby="basic-addon1" value="">
        </div>
      </td>
      <td>
        <div class="input-group mb-3">
              <input type="text" class="form-control js-input" name="title" placeholder="" aria-label="" aria-describedby="basic-addon1" value="">
        </div>
      </td>
      <td>
        <div class="input-group mb-3">
              <select class="form-select" aria-label="Default select example">
                <option selected="">Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
        </div>
      </td>
      <td>
        <div class="input-group mb-3">
              <select class="form-select" aria-label="Default select example">
                <option selected="">Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
        </div>
      </td>
      <td></td>
    </tr>
 -->


<!--        <h1> Assalomu aleykum   {{ current_user.username }}</h1>-->









        {% for st in students %}
        {% for les in lesson_times %}
        {% if les.lesson_id.sinf.id == st.sinf.id %}
        <div class="container mt-3">
                        <div class="row border">
                            <div class="col-sm-2 mt-3 mb-3">
                                <img src="/media/{{ st.photo }}" style="object-fit:cover" alt="Admin" class="rounded-circle" width="150" height="150px">
                            </div>
                            <div class="col-sm-4 mt-3 mb-3">
                                <h6>Имя :  <span class="" style="color:#5d50c6;font-weight:800">{{ st.first_name }}</span> </h6>
                                <h6>Фамилия :  <span class="" style="color:#5d50c6;font-weight:800">{{ st.last_name }}</span> </h6>
                                <h6>ИИН :  <span class="" style="color:#5d50c6;font-weight:800">{{ st.iin }}</span> </h6>
                                <h6>Класс :  <span class="" style="color:#5d50c6;font-weight:800">{{ st.sinf }}</span> </h6>
                                <h6>Дома : <form action="/main?search={{ search_value }}" class="form-check form-switch">
<!--                                      <label class="form-check-label   " for="flexSwitchCheckDefault">fdsgs</label>-->
                                    <input class="form-check-input js-check" type="checkbox" {% if st.status %} checked="checked" {% endif %} name="status" data-id="{{ st.id }}">
                                </form> </h6>

                            </div>
                            <div class="col-sm-6 mt-3 mb-3">
                                <h6>Занятия :  <span class="" style="color:#5d50c6;font-weight:800">{{ les.title }}</span> </h6>
                                <h6>Кабинет :  <span class="" style="color:#5d50c6;font-weight:800">{{ les.cabinet.corpus }} {{ les.cabinet.floor }} Этаж {{ les.cabinet.title }}</span> </h6>
                                <h6>Начало :  <span class="" style="color:#5d50c6;font-weight:800">{{ les.start_time }}</span> Конец :  <span class="" style="color:#5d50c6;font-weight:800">{{ les.stop_time }}</span></h6>
                                <h6>Учитель :  <span class="" style="color:#5d50c6;font-weight:800">{{ les.lesson_id.teacher.first_name }} {{ les.lesson_id.teacher.last_name }} </span> </h6>
                                <h6>Номер :  <span class="" style="color:#5d50c6;font-weight:800">{{ les.lesson_id.teacher.number }}</span> </h6>

                            </div>
                        </div>

        </div>
        {% endif %}
        {% endfor %}
        {% endfor %}


    </main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
    $( ".js-check" ).change(function() {
        if ($(this).prop('checked')){
            if (confirm("Вы подтверждаете, что ученика забрали домой?")){
                var oData = {
                    "action": "student_go",
                    "status": $(this).prop('checked') ? 1 : 0,
                    "csrfmiddlewaretoken": $('[name="csrfmiddlewaretoken"]').val(),
                    "student_id": $(this).attr("data-id")
                };
                $.ajax({
                  type: "POST",
                  url: '/main',
                  data: oData,
                  success: function(data){
                    location.reload();
                  },
                  dataType: 'json'
                });
            }
        }else{
            if (confirm("Вы подтверждаете, что ученика привезли в школу?")){
                var oData = {
                    "action": "student_go",
                    "status": $(this).prop('checked') ? 1 : 0,
                    "csrfmiddlewaretoken": $('[name="csrfmiddlewaretoken"]').val(),
                    "student_id": $(this).attr("data-id")
                };
                $.ajax({
                  type: "POST",
                  url: '/main',
                  data: oData,
                  success: function(data){
                    location.reload();
                  },
                  dataType: 'json'
                });
            }
        }

    });
</script>
{% endblock %}