{% extends 'basemain.html' %}
    {% block content %}
        {% load static %}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2" style="color:#5d50c6; font-weight: 600;">Преподаватели</h1>
        <form method="get" action="/main/prepod">
        <div>
          <label style=" color: #fda638;font-weight: 600;">Должности</label>
          <select name="doljn" class="js-changes" style="    padding: 3px 22px;color:#5d50c6;border:1px solid #5d50c6;">
            <option value="0">Все</option>
            {% for d in dolj %}
            <option value="{{ d.id }}"  {% if doljn == d.id %} selected {% endif %}> {{ d.title }}</option>
            {% endfor %}
          </select>
          </div>
        </form>

<!--        <div class="btn-toolbar mb-2 mb-md-0">-->
<!--          <div class="btn-group me-2">-->
<!--            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>-->
<!--            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>-->
<!--          </div>-->
<!--          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">-->
<!--            <span data-feather="calendar"></span>-->
<!--            This week-->
<!--          </button>-->
<!--        </div>-->
      </div>

      <table class="table table-bordered">
  <thead>
    <tr style="text-align:center">
      <th scope="col " class=""   style="color:#5d50c6;text-decoration:none;font-weight:700"  >ID</th>
      <th scope="col " class=""   style="color:#5d50c6;text-decoration:none;font-weight:700">Фамилия</th>
      <th scope="col " class=""   style="color:#5d50c6;text-decoration:none;font-weight:700">Имя</th>
      <th scope="col " class=""   style="color:#5d50c6;text-decoration:none;font-weight:700">Иин</th>
      <th scope="col " class=""   style="color:#5d50c6;text-decoration:none;font-weight:700">Должности</th>
      <th scope="col " class=""   style="color:#5d50c6;text-decoration:none;font-weight:700">Фото</th>
      <th scope="col " class=""   style="color:#5d50c6;text-decoration:none;font-weight:700"></th>
    </tr>
  </thead>
  <tbody>
<!--     <tr>
      <th scope="row">1</th>
      <td>
        <div class="input-group mb-3">
              <input type="text" class="form-control js-input" name="title" placeholder="" aria-label="" aria-describedby="basic-addon1" value="">
        </div>
      </td>
      <td>
        <div class="input-group mb-3">
              <select class="form-select" aria-label="Default select example">
                <option selected="">Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
        </div>
      </td>
      <td>
        <div class="input-group mb-3">
              <input type="text" class="form-control js-input" name="title" placeholder="" aria-label="" aria-describedby="basic-addon1" value="">
        </div>
      </td>
      <td>
        <div class="input-group mb-3">
              <input type="text" class="form-control js-input" name="title" placeholder="" aria-label="" aria-describedby="basic-addon1" value="">
        </div>
      </td>
      <td>
        <div class="input-group mb-3">
              <select class="form-select" aria-label="Default select example">
                <option selected="">Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
        </div>
      </td>
      <td>
        <div class="input-group mb-3">
              <select class="form-select" aria-label="Default select example">
                <option selected="">Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
        </div>
      </td>
      <td></td>
    </tr>
 -->
{% for pr in prepod %}
    <tr style="vertical-align:middle;">
      <th scope="row" style="text-align:center">{{ pr.id }}</th>
      <td>{{ pr.last_name }}</td>
      <td>{{ pr.first_name }}</td>
      <td>{{ pr.iin }}</td>
      <td>{{ pr.doljnost }}</td>
      <td style="width:120px"><img src="/media/{{ pr.photo }}"  width="100px" height="100px" style="object-fit:cover;border-radius:50%;border: 1px solid;"></td>
      <td><a href="/main/prepod/{{ pr.id }}"><img src="/static/images/eye.svg"></a></td>
    </tr>
{% endfor %}
  </tbody>
</table>


    </main>
<script src="/static/js/min.js"></script>
<script>

  $('.js-changes').change(function(){
      $(this).parents('form').submit();
  })


</script>

{% endblock %}

